﻿<div class="jumbotron">
    <div class="container">
        <h1>Bienvenido!</h1>
        <p>Por favor ingrese su código para continuar.</p>
        <form class="form-horizontal" name="authenticationForm" >
            <fieldset>

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="codeInput" ng-model="code" placeholder="Código"  ng-maxlength="10" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <a type="submit" class="btn btn-success btn-lg" ng-disabled="authenticationForm.$invalid" ng-href="#/menu/{{code}}" role="button">Continuar &raquo;</a>
                    </div>
                </div>
            </fieldset>
        </form>


    </div>
</div>
