﻿<div class="Container" style="padding-top: 70px;">

    <div>
        <legend>Clientes
        </legend>

        <form class="form-horizontal" ng-submit="Load(identification)">
            <fieldset>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="active">Cédula</label>
                    <div class="col-md-5">
                        <input class="form-control" name="identification" ng-model="identification" id="nitClientInput" placeholder="Cédula Cliente" required />                        

                        <div>
                            <button type="submit" class="btn btn-primary" ng-disabled="identification==undefined"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Cargar</button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>

    <div>
        <div>


            <form class="form-horizontal" name="clientForm">
                <fieldset>

                    <div ng-show="messageCalledClient" class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Atención!</strong> Este cliente ya ha sido Llamado Por: <strong>{{formClient.asesor}}</strong> el <strong>{{formClient.fechaLlamada | date:"MM/dd/yyyy "}}</strong>
                    </div>

                    <div ng-show="noRegistredClient" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Atención!</strong><span> Este Cliente no está registrado en la base de datos </span>
                    </div>

                    <!--timer-->
                    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="showTime">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Tiempo de Llamada:</strong><span><strong>&nbsp;&nbsp;&nbsp;{{callSeconds | date:' mm:ss'}}</strong></span><br>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="nitInput">Cedula</label>
                        <div class="col-md-8">
                            <input id="nitInput" name="nitInput" type="text" ng-model="formClient.cedula" placeholder="Cedula" class="form-control input-md" required="" disabled>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="nameInput">Nombres</label>
                        <div class="col-md-8">
                            <input id="nameInput" name="nameInput" type="text" ng-model="formClient.nombres" placeholder="Nombres" class="form-control input-md" required="" disabled>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="lastNameInput">Apellidos</label>
                        <div class="col-md-8">
                            <input id="lastNameInput" name="lastNameInput" type="text" ng-model="formClient.apellidos" placeholder="Apellidos" class="form-control input-md" required="" disabled>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="celInput">Celular</label>
                        <div class="col-md-8">
                            <input id="celInput" name="celInput" type="text" ng-model="formClient.celular" placeholder="Celular" class="form-control input-md" required="" disabled>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="phoneInput">Teléfono</label>
                        <div class="col-md-8">
                            <input id="phoneInput" name="phoneInput" ng-model="formClient.telefono" type="text" placeholder="Teléfono" class="form-control input-md" disabled>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="mailInput">Correo</label>
                        <div class="col-md-8">
                            <input id="mailInput" name="mailInput" ng-model="formClient.correo" type="email" placeholder="Correo" class="form-control input-md" disabled>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="surveyInput"># Encuesta</label>
                        <div class="col-md-5">
                            <input id="surveyInput" name="surveyInput" type="text" ng-model="formClient.codigoEncuesta" placeholder="Número Encuesta" class="form-control input-md" disabled>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="callStatus">Estado Llamada</label>
                        <div class="col-md-5">
                            <select id="callStatus" name="callStatus" class="form-control" ng-model="formClient.estadoLlamada" required>
                                <option value="0">Exitosa</option>
                                <option value="1">No Exitosa</option>
                                <option value="2">No Contactar</option>
                            </select>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="callButton"></label>
                        <div class="col-md-4">
                            <button id="callButton" name="callButton" ng-click="Call()" ng-disabled="calledClient || clientForm.$invalid" class="btn btn-success"><span class="glyphicon glyphicon-earphone"></span>&nbsp;Llamar</button>
                            <button id="cleanButton" name="clean" ng-click="Clean()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Nueva Consulta</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col-xs-12 buttonContainer">
            <div class="col-sm-offset-3 col-sm-6">
                <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
            </div>
        </div>

    </div>
</div>
