﻿<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <a class="navbar-brand">
                <span class="glyphicon glyphicon-home"></span>
                Menú Principal
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">
                        <span class="glyphicon glyphicon-off"></span>&nbsp;<strong>Salir</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row" style="padding-top: 50px;">
    <div class="col-md-12" style="background-color: #EEEEEE;">
        <!--<div class="col-md-1"></div>-->
        <div class="col-md-3" ng-repeat="menu in menus">

            <div class="card">
                <div>
                    <a ng-href="#/{{menu.href}}/{{operatorCode}}">
                        <div class="row">
                            <div class="bigger-font"><span ng-class="menu.icono"></span></div>
                        </div>
                    </a>
                    <h2>{{menu.rol}}</h2>
                </div>
            </div>

        </div>

    </div>
</div>
