﻿<div class="container" style="padding-top: 70px;">
    <div>
        <legend>Operadores
            <button id="Button3" name="clean" ng-click="Limpiar()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Nuevo</button>
            <button type="button" class="btn btn-primary" ng-click="loadEditForm()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Editar</button>
        </legend>

        <form class="form-horizontal" ng-show="view.editInfo">
            <fieldset>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="operator">Operadores</label>
                    <div class="col-md-5">

                        <input class="form-control" name="operator" list="operatorList" ng-model="operator" id="operatorInput" placeholder="Nombre Operador" required />
                        <datalist id="operatorList">
                            <option ng-repeat="operador in operadores" value="{{operador.nombres}}">
                        </datalist>

                        <div>
                            <button type="button" class="btn btn-primary" ng-click="Update(operator)" ng-disabled="operator==undefined"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Cargar</button>
                        </div>
                    </div>
                </div>
            </fieldset>

            <legend></legend>
        </form>
    </div>

    <div>

        <div ng-show="view.form">

            <form class="form-horizontal" name="operatorForm">
                <fieldset>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="code">Código</label>
                        <div class="col-md-5">
                            <input id="code" name="code" type="text" ng-model="formOperator.codigo" placeholder="Código" class="form-control input-md" required>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="names">Nombres</label>
                        <div class="col-md-5">
                            <input id="names" name="names" ng-model="formOperator.nombres" type="text" placeholder="Nombres" class="form-control input-md" required>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="lastName">Apellidos</label>
                        <div class="col-md-5">
                            <input id="lastName" name="lastName" ng-model="formOperator.apellidos" type="text" placeholder="Apellidos" class="form-control input-md" required>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="profile">Perfil</label>
                        <div class="col-md-5">
                            <select id="profile" name="profile" ng-model="profile" ng-options="obj.perfil for obj in perfiles" class="form-control" required>
                            </select>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-8">
                            <button id="save" name="save" ng-click="Guardar()" class="btn btn-success" ng-disabled="operatorForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar</button>
                        </div>
                    </div>

                </fieldset>
            </form>


        </div>

        <div class="col-xs-12 buttonContainer">
            <div class="col-sm-offset-3 col-sm-6">
                <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
            </div>
        </div>
    </div>

</div>
