﻿body
{
    /*padding-top: 70px;*/
}

html
{
    background-color: #EEEEEE;
}


.card
{
    overflow: hidden;
    margin-top: 15px;
    padding-top: 10px;
    height: 200px;
    width: 300px;
    background: #fff;
    border: solid 1px;
    border-color: #bdc3c7;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.inner-card
{
    padding-top: 0.3em;
    font-size: 20px;
    min-height: 100px;
    border-top: solid 1px;
    border-left: solid 1px;
    cursor: pointer;
}

    .inner-card:hover
    {
        background: #EEEEEE;
    }

.bigger-font
{
    font-size: 100px;
    padding-top: 10px;
}

.card-text
{
    font-size: 15px;
    padding-bottom: 1em;
}

vehiclesListContainer
{
    width: 100%;
    cursor: pointer;
}

.vehiclesListContainer *
{
    cursor: pointer !important;
}

.vehiclesList, .allNoneCheckbox
{
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #bdc3c7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin-top: 0.4em;
    padding: 0.8em;
    width: 150px;
}

.button-datePicker{
   height: 34px;
  }